@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.flex {
    display: flex;
    margin: auto;
    /*border: solid black 2px;*/
    width: 50%;
    /*justify-content: space-evenly;*/
}

#image img {
    /*flex-grow: 2;*/
    width: 300px;
}

#info {
    /*flex-grow: 1;*/
    font-family: Montserrat, sans-serif;
    /*border: solid 2px red;*/
    margin-left: 50px;
    color: gray;
    font-size: 18px;

}

#heading {
    font-family: "Playfair Display", Serif;
    font-weight: 600;
    font-size: 28px;
    color: #FE9898;
}