@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Playfair+Display:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#header {
    margin-bottom: 10px;
}

#logo {
    color: black;
    display: block;
    font-size: 53px;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    padding: 46px 0px 20px 0px;
}

/********** MENU *************/

/* Navigation bar*/
#menu {
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-align: center;
    padding: 10px;
}

/* Menu items */
#menu > a, #menu > .dropdown {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
}

/* Links in the menu*/
#menu a {
    font-size: 18px;
    padding: 14px 16px;
    text-decoration: none;
}

/* style selected menu item*/
.selected {
    color: #83af9b;
}

/* style unselected menu items */
.unselected {
    color: black;
}

/* Change menu item text color on hover */
#menu a:hover, .dropdown:hover .dropbtn {
    color: #83af9b;
    /*font-weight: bold;*/
}

/* style container for instagram link */
#footer {
    position: relative;
    margin: 15px auto;
    background-color: rgba(172, 217, 198, .7);
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

/* change footer background color on hover */
#footer:hover {
    background-color: #83af9b;
}

/* style footer instagram logo */
#footer img{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 50px;
    width: 50px;
}